@use '../../color-scheme' as colors;

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 25px;
    background: rgba(249, 249, 249, 0.9);
    gap: 0.5rem;

    .dropdown {
        background: none;
        font-size: 1rem;
        border: none;
        outline: none;
        padding: 0.25rem;
        border-radius: 5px;
        margin-left: 0.5rem;
        cursor: pointer;
        color: darkgreen;
    }

    input {
        flex: 1;
        background: none;
        font-size: 1rem;
        border: none;
        outline: none;
        margin: 0 0.5rem;
        color: darkgreen;

        &:focus {
            outline: none;
        }
    }

    .button {
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 0.5rem;
        padding: 0.25rem;
        border-radius: 25px;
        color: darkgreen; // Color for the icon
        
        i {
            font-size: 1.2rem; // Size of the icon
        }

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

@media screen and (max-width: 768px) {
    .searchbar {
        padding: 0.3rem;
        
        .dropdown {
            font-size: 0.9rem;
            margin-left: 0.3rem;
        }
        
        input {
            font-size: 0.9rem;
            margin: 0 0.3rem;
        }
        
        .button i {
            font-size: 1rem;
        }
    }
}