<header>
    <app-icon-name-container></app-icon-name-container>
    
    <app-searchbar></app-searchbar>
    
    <ul>
        <li>
            <app-menu-tree-recipes></app-menu-tree-recipes>
        </li>
        <li>
            <a href="" mat-button>Cookbook Icon</a>
        </li>
        <li>
            <a href="" mat-button>Profile Icon</a>
        </li>
        <li>
            <a href="" mat-button>Home Icon</a>
        </li>
        <li>
           <button mat-button>Login</button>
        </li>
    </ul>
</header>