<!--
   on mobile burger menu on left side icon on the right
-->

<!--
    https://material.angular.io/components/grid-list/overview#grid-list-overview
-->
    
<mat-grid-list cols="1">

    <p>HeaderComponent works!</p>

    <app-icon-name-container></app-icon-name-container>

    <app-searchbar></app-searchbar>

    <app-button-icon-link-container></app-button-icon-link-container>

    <mat-divider></mat-divider>

</mat-grid-list>

<!--
   /on mobile burger menu on left side icon on the right
-->