<div routerLink="/" class="logo-container">
    <div class="logo">
        <p>RECIPES<br>
            SYNC.</p>
    </div>
</div>

<div class="nav-container">
    <a routerLink="/profile">Profile</a>
    <nav (click)="onClick()">
        <div class="button">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <ul #navMenu>
            <a routerLink="/">Home</a>
            <a [hidden]="isLoggedIn" routerLink="/login">Log In</a>
            <a [hidden]="isLoggedIn" routerLink="/register">Register</a>
            <a routerLink="/about-us">About Us</a>
            <a routerLink="/guidelines">Guidelines</a>
            <a routerLink="/impress">Impress</a>
            <a routerLink="/report">Report</a>
            <a [hidden]="!isLoggedIn" (click)="onLogout()">Log Out</a>
        </ul>
    </nav>
</div>
