@use '../../color-scheme' as colors;

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: colors.$shadow-default;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    padding: 1rem;
}

.logo h1 {
    color: colors.$secondaryColor;
    padding-left: 2rem;
    margin: 0;
}

.searchbar-container {
    justify-self: center;
    width: 100%;
    max-width: 600px;
}

.nav-menu {
    justify-self: end;
    margin-right: 2rem;
    display: flex;
    list-style: none;
    padding: 0;
    
    &.open {
        transform: translateX(0);
    }
}

.nav-menu li a {
    text-decoration: none;
    color: colors.$linkColor;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    
    &:hover {
        border-bottom: 2px solid colors.$baseColor;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    color: colors.$secondaryColor;
    
    i {
        font-size: 1.5rem; // Size of the Font Awesome icon
    }
}

@media screen and (max-width: 910px) {
    header {
        grid-template-columns: 1fr auto auto;
        padding: 0.5rem;
    }
    
    .searchbar-container {
        max-width: 100%;
        padding: 0 1rem;
    }
    
    .hamburger {
        display: block;
        margin-right: 1rem;
        font-size: 1.5rem;
    }
    
    .nav-menu {
        position: fixed;
        top: 5rem;
        right: 0;
        height: calc(100vh - 5rem);
        width: 250px;
        box-shadow: colors.$shadow-default;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1rem);
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        margin-right: 0;
        padding: 2rem 1rem;
        
        &.open {
            transform: translateX(0);
        }
        
        li {
            width: 100%;
            margin: 0.5rem 0;
            
            a {
                display: block;
                padding: 15px;
                color: colors.$linkColor;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border-radius: 5px;
                transition: background 0.2s ease;
                
                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                    border-bottom: none;
                }
            }
        }
    }
}