@use "../../styles";

footer {
    height: 30rem;

    display: grid;
    grid-template-areas: 
        "logo nav nothing";
    grid-template-columns: 30% 40% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    
    align-items: center;

    ul{
        grid-area: nav;
        justify-self: center;

        margin: 0;
        padding: 0;
        list-style: none;
    }

    .copy-right{
        grid-area: nothing;
        justify-self: end;

        margin-right: 2rem;
    }
}