<!--
    https://material.angular.io/components/grid-list/overview#grid-list-overview

    https://material.angular.io/components/list/overview
-->

<mat-grid-list cols="1">

    <mat-divider></mat-divider>

    <p>footer works!</p>

    <app-icon-name-container></app-icon-name-container>

    <mat-list>
        <a mat-button href="./about-us" target="_blank">About us</a>
        <a mat-button href="./guidelines" target="_blank">Guidelines</a>
        <a mat-button href="./impress" target="_blank">Impressum</a>
        <a mat-button href="./report" target="_blank">Report</a>
    </mat-list>

</mat-grid-list>