<!--
    https://material.angular.io/components/grid-list/overview#grid-list-overview

    https://material.angular.io/components/list/overview
-->
<mat-divider></mat-divider>

<footer>
    <app-icon-name-container class="col"></app-icon-name-container>
    <ul class="col">
        <li>
            <a mat-button href="./about-us">About us</a>
        </li>     
        <li>
            <a mat-button href="./guidelines">Guidelines</a>
        </li>
        <li>
            <a mat-button href="./impress">Impressum</a>
        </li>           
        <li>
            <a mat-button href="./report">Report</a>
        </li>
    </ul>
</footer>