@use '../../styles.scss' as g;

.footer {
    height: 12rem;
    display: grid;
    text-align: center;
    background-color: g.$black-3;
    gap: 2rem;

    .links{
        justify-self: center;
        align-self: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .copy-right{
        justify-self: center;
    }
}
