<!--
    https://material.angular.io/components/grid-list/overview#grid-list-overview

    https://material.angular.io/components/list/overview
-->

<mat-grid-list cols="1">

    <mat-divider></mat-divider>

    <p>footer works!</p>

    <app-icon-name-container></app-icon-name-container>

    <mat-list>
        <a mat-button href="./about-us">About us</a>
        <a mat-button href="./guidelines">Guidelines</a>
        <a mat-button href="./impress">Impressum</a>
        <a mat-button href="./report">Report</a>
    </mat-list>

</mat-grid-list>