@use '../../../styles';

.main{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10rem 0;
}

.login-div {
    display: flex;
    width: 25em;
    border-radius: 1rem;
    //background: rgba(255, 255, 255, 0.25);
    //-webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: height 0.2s ease;
    overflow: hidden;
    padding: 3rem;
}