<!--
  https://material.angular.io/components/form-field/overview#form-field-error 
-->

<main class="page small">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="doe@example.com" [formControl]="email" (blur)="updateErrorMessage()" required />
    @if (email.invalid) {
    <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>

  <div class="actions">
    <span>
      Remember password again? <a href="./login">login</a>
    </span>
    <span>
      Don't have an Account? <a href="./register">register</a>
    </span>
  </div>
</main>