:host {
    width: fit-content;
}

@mixin link-button {
    cursor: pointer;
    color: #EAE9FC;
    border: none;
    font-size: 1em;
    background: none;
    padding: 0;
}

button {
    @include link-button;
}
