<div class="card">
    <div class="text-container">
        <div class="meta-data">
            <ul>
                <li>cooking time</li>
                <li>cooking time</li>
                <li>cooking time</li>
                <li>cooking time</li>
                <li>cooking time</li>
            </ul>
        </div>

        <div class="describtion-container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nisi veritatis, porro accusantium dolores soluta quidem. Voluptatem autem quia iusto temporibus placeat. Accusantium dicta laboriosam magni similique consectetur ad veniam. lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolorem enim est quas ipsam maiores officia aut labore saepe adipisci eligendi, aliquam sequi quam reprehenderit cumque inventore mollitia ducimus dignissimos.
            </p>
        </div>
    </div>

    <div class="img-container">
        <img src="https://www.chefkoch.de/magazin/sites/default/files/styles/hero/public/media/image/2017-08/763948-960x720-karibischer-eintopf.jpg" alt="">
    </div>
</div>
