@use '../../styles' as v;

.recipe-cards-section {
  padding: v.$m 0; // Vertical padding for breathing room
  background-color: v.$white-1;
  border-radius: v.$n;

  h2 {
    padding-left: v.$b;
    color: v.$black;
    font-size: v.$l; // 2.5rem
    margin-bottom: v.$n; // 1rem
  }

  .container {
    margin: 0 auto; // Center horizontally
    padding: 0 v.$n; // Horizontal padding
  }

  .card-container {
    display: flex;
    flex-wrap: wrap; // Wrap to new row after filling
    gap: v.$n; // 1rem gap between cards
    justify-content: center; // Center cards horizontally
  }
}