<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>
<!--    final implementation

1. rest services & types

2. maybe delete Tag; cards implementation

3. card-containers for recipes and cookbooks

4. landing

5. login

6. forgot password

7. register

8. recipe

9. Cookbook

10. Cookbook home

11. Profile

12. Searchbar

13. Search result container

14. favicon mit initialien -> Rs (for Recipe sync) & font Roboto als local font

15. scss styling > fix headder

16. nestjs setup

17. testing

-->
