<app-header></app-header>

<main>
    <router-outlet/>

    <app-login></app-login>

    <app-forgot-password></app-forgot-password>

    <app-register></app-register>

    <app-cards-cookbook-container></app-cards-cookbook-container>

    <app-cards-recipe-container></app-cards-recipe-container>
</main>

<app-footer></app-footer>

<!--

basic implementation of pages 

abhängigkeiten und biolerplate

favicon mit initialien -> Rs (for Recipe sync)

font Roboto als local font

pages boilerplate

dummy rest api

scss styling 

nestjs setup

nestjs implementaion 

testing

-->
