<mat-card class="card" appearance="outlined">
  <div class="card-button" [routerLink]="'/recipe'" [queryParams]="{ id: recipe.id }">
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>
        <p>Creator: {{ recipe.user.username }}</p>
        <p>
          Tags:
          <span>
            @for (tag of (recipe.tags); track recipe.id){
            {{ tag }}
            }
          </span>
        </p>
      </mat-card-subtitle>
    </mat-card-header>


    <img mat-card-image
      src="https://www.daskochrezept.de/sites/daskochrezept.de/files/styles/700_530/public/stockfood/stockfood-12626099.jpg?h=c9f93661&itok=WVIrLcLH"
      class="responsive-img no-shadow" alt="Recipe cover image" />


    <mat-card-content>
      <table class="info-table">
        <tr>
          <td>Overall</td>
          <td>{{ recipe.generalScore }}</td>
        </tr>
        <tr>
          <td>Nutri-Score:</td>
          <td>{{ recipe.nutriScore }}</td>
        </tr>
        <tr>
          <td>Overall cooking time:</td>
          <td>{{ recipe.overallCookTime }} minutes</td>
        </tr>
        <tr>
          <td>Steps:</td>
          <td>{{ recipe.steps }}</td>
        </tr>
      </table>
      <div>
        <p>Ingredients:</p>
        <ul>
          @for (ingredient of (recipe.ingredients); track recipe.id){
          <li>{{ ingredient }}</li>
          }
        </ul>
      </div>
    </mat-card-content>
  </div>

  <mat-card-actions>
    <button mat-button (click)="toggleFavorite()">{{ recipe.isPublic ? 'Unfavorite' : 'Favorite' }}</button>
    <button mat-button color="warn" (click)="deleteCookBook()">Delete</button>
  </mat-card-actions>
</mat-card>