<header class="header">
    <div class="logo-container">
        <div class="logo">
            <p>RECIPES<br>
                SYNC.</p>
        </div>
    </div>

    <div class="searchbar-container">

    </div>

    <div class="navigation-section">
        <div class="direct-link-container">
            <!--
                If logged in link to "Profile"
                Else link to "Log In"
            -->
            <a href="./profile">Profile</a>
        </div>

        <div class="hamburger-container">
            <input type="checkbox" class="check" id="menu-toggle" (change)="onCheckboxChange()">
            <label for="menu-toggle" class="icon-label">
                <div class="hamburger">
                    <i class="fas fa-bars bar"></i>
                    <i class="fas fa-x x"></i>
                </div>
            </label>

            <div class="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="./">Home</a></li>
                    <li [hidden]="is_user_logged_in"><a href="./login">Log In</a></li>                    
                    <li [hidden]="is_user_logged_in"><a href="./register">Register</a></li>
                    <li><a href="./about-us">About Us</a></li>
                    <li><a href="./guidelines">Guidelines</a></li>
                    <li><a href="./impress">Impressum</a></li>
                    <li><a href="./report">Report</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="quick-access">
    <!--
        Show like-save container only on pages 'cookbook' & 'recipe'
    -->
    <div class="like-icon-container">
        <div class="like">
            <i class="fas fa-thumbs-up"></i>
        </div>
    </div>

    <div class="save-icon-container">
        <div class="save">
            <i class="fas fa-bookmark"></i>
        </div>
    </div>

    <div class="plus-icon-container">
        <div class="plus">
            <i class="fas fa-add"></i>
        </div>

        <div class="plus-menu-container">
            <ul class="plus-menu">
                <li><a href="./">Create Cookbook</a></li>
                <li><a href="./">Create Recipe</a></li>
            </ul>
        </div>
    </div>
</div>