<header class="header">
    <div class="logo-container">
        <div class="logo">
            <p>RECIPES<br>
                SYNC.</p>
        </div>
    </div>

    <div class="searchbar-container">

    </div>

    <div class="navigation-section">
        <div class="direct-link-container">
            <!--
                If logged in link to "Profile"
                Else link to "Log In"
            -->
            <a href="./">Profile</a>
        </div>

        <div class="hamburger-container">
            <input type="checkbox" class="check" id="menu-toggle">
            <label for="menu-toggle" class="icon-label">
                <div class="hamburger">
                    <i class="fas fa-bars bar"></i>
                    <i class="fas fa-x x"></i>
                </div>
            </label>

            <div class="nav-menu-container">
                <ul class="nav-menu" [class.open]="menuOpen">
                    <li><a href="./" (click)="toggleMenu()">Home</a></li>
                    <li><a href="./login" (click)="toggleMenu()">Log In</a></li>
                    <li><a href="./register" (click)="toggleMenu()">Register</a></li>
                    <li><a href="./about-us" (click)="toggleMenu()">About Us</a></li>
                    <li><a href="./guidelines" (click)="toggleMenu()">Guidelines</a></li>
                    <li><a href="./report" (click)="toggleMenu()">Report</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="quick-access">
    <!--
        Show like-save container only on pages 'cookbook' & 'recipe'
    -->
    <div class="like-icon-container">
        <div class="like" (click)="toggleMenu()">
            <i class="fas fa-thumbs-up"></i>
        </div>
    </div>

    <div class="save-icon-container">
        <div class="save" (click)="toggleMenu()">
            <i class="fas fa-bookmark"></i>
        </div>
    </div>

    <div class="plus-icon-container">
        <div class="plus" (click)="togglePlusMenu()">
            <i class="fas fa-add"></i>
        </div>

        <div class="plus-menu-container">
            <ul class="plus-menu" [class.open]="menuOpen">
                <li><a href="./" (click)="togglePlusMenu()">Create Cookbook</a></li>
                <li><a href="./" (click)="togglePlusMenu()">Create Recipe</a></li>
            </ul>
        </div>
    </div>
</div>