.image-container {
    position: relative;
    width: 30rem;
    height: 30rem;
    background-color: rgb(173, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;    
}

.image-container img[hidden] {
    display: none; /* Ensures the image is hidden if the placeholder is shown */
}

.image-container:hover .edit-button {
    display: block; /* Show only on hover */
}

.img {
    width: fit-content; /* Match the container's width */
    height: fit-content; /* Match the container's height */
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0; /* Retain existing styles */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.placeholder-icon {
    font-size: 4rem; /* Placeholder size */
    color: white;
}

.edit-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    padding: 8px;
    border-radius: 50%;
    width: 2rem; /* Ensures uniform width */
    height: 2rem; /* Ensures uniform height */
    color: white;
    display: none; /* Hide by default */
    cursor: pointer;
}