<main class="main">
    <section class="user-container">
        <section class="top-container">
            <app-editable-image></app-editable-image>
            
            <section class="info">
                <div class="userData">
                    <app-editable-input [text]="'MyUserName'" [heading]="'Username'"></app-editable-input>
                    <app-editable-input [text]="'Jane'"[heading]="'First Name'" ></app-editable-input>
                    <app-editable-input [text]="'Doe'"[heading]="'Last Name'" ></app-editable-input>
                    <app-editable-input [text]="'example@mail.com'"[heading]="'Email'" ></app-editable-input>
                    <app-editable-input [text]="'**************'"[heading]="'Password'" ></app-editable-input>
                </div>
            </section>
        </section>

        <article class="user-bio">
            <p>
                {{ user.profileText }}
            </p>
        </article>
    </section>

    <section class="recipes-container-container">
        <!--
        <article class="user-own-recipes">
            <app-cards-recipe-container heading="My Recipes" [recipes]="recipes"></app-cards-recipe-container>
        </article>

        <article class="user-own-cookbooks">
            <app-cards-recipe-container heading="My cookbooks" [recipes]="recipes"></app-cards-recipe-container>
        </article>
        -->
    </section>

    <section class="cookbooks-container-container">
        <!--
        <article class="user-saved-recipes">
            <app-cards-cookbook-container heading="Favorite cookbooks" [cookbooks]="cookbooks"></app-cards-cookbook-container>
        </article>
    
        <article class="user-saved-cookbooks">
            <app-cards-cookbook-container heading="Favorite cookbooks" [cookbooks]="cookbooks"></app-cards-cookbook-container>
        </article>
        -->
    </section>
</main>