<!--
    https://material.angular.io/components/menu/overview

    
-->

<mat-list col="1">

    <p>button-icon-link-container works!</p>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <app-menu-tree-recipes></app-menu-tree-recipes>
    </mat-menu> 

    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

    <button mat-button>Login</button>

</mat-list>
