<div class="cookbook-overview">
    <h1>Cookbook Overview</h1>
  
    <section class="cookbook-section">
      <h2>Favorite Cookbooks</h2>
      <app-cards-cookbook-container></app-cards-cookbook-container>
    </section>
  
    <section class="cookbook-section">
      <h2>My Cookbooks</h2>
      <app-cards-cookbook-container></app-cards-cookbook-container>
    </section>
  
    <section class="cookbook-section">
      <h2>Saved Cookbooks</h2>
      <p>Technically there needs to be a input for the  "app-cards-cookbook-container" from the type "user"</p>
      <!--<app-cards-cookbook-container [cookbooks$]="savedCookbooks$"></app-cards-cookbook-container>-->
    </section>
  </div>