* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/*
// Color Variables
$baseColor: #2E4A2E;
$secondaryColor: #D3D3D3;
$errorColor: #C0000D;
$linkColor: #E9FCE9;

// Shadow Variables
$shadow-default: 0 0 10px rgba(0, 0, 0, 0.5);
$shadow-hover: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
$shadow-button: 0 0 7px rgba(0, 0, 0, 0.75);
$shadow-disabled: rgba(0, 0, 0, 0.75) 0 0 7px inset;
*/